
<header>
  {{> private-navbar}}
</header>
<main class="bg-img">
<h1>DASHBOARD</h1>

<div class="container parent">
  <div class="blog-container ">

{{#each blogs}}

   <div class="card" style="width: 18rem">
      <img
        class="card-img-top"
        src="{{blog_img}}"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title content-style-1">{{title}}</h5>
        <p class="card-text content-style-1"> {{content}}  </p>
        <div class="text-center">
          <a href="/blog/View/{{blog_uuid}}" class="card-link">View <i class="fas fa-pen"></i></a>
          <a href="/blog/Edit/{{blog_uuid}}" class="card-link">Edit <i class="fas fa-pen"></i></a>
          <a href="#" class="card-link delete-btn" id="{{blog_uuid}}">Delete <i class="fas fa-trash"></i></a>
        </div>
      </div>
    </div>

{{/each}}

  </div>

    <div class="comment-container">
      <!-- comment 1 -->
      <div class="card mb-2">
        <div class=" mb-0">
          <div class="h3 text-center">Blog title</div>
        <div class="mb-3 card-body"> This is some text within a dfgghtrgrthrthrhgfgfgfgfgfgfgcard body.</div>
         <p class="text-center">comment date</p>
        </div>
        <div class="text-center">
          <a href="#" class="card-link">Edit <i class="fas fa-pen"></i></a>
          <a href="#" class="card-link">Delete <i class="fas fa-trash"></i></a>
        </div>
      </div>
      <!-- comment 2 -->
      <div class="card mb-2">
        <div class="card-body">This is some text within a card body.</div>
        <div class="text-center">
          <a href="#" class="card-link">Edit <i class="fas fa-pen"></i></a>
          <a href="#" class="card-link">Delete <i class="fas fa-trash"></i></a>
        </div>
      </div>
      <!-- comment 3 -->
      <div class="card mb-2">
        <div class="card-body">This is some text within a card body.</div>
        <div class="text-center">
          <a href="#" class="card-link">Edit <i class="fas fa-pen"></i></a>
          <a href="#" class="card-link">Delete <i class="fas fa-trash"></i></a>
        </div>
      </div>
    </div>


</div>
</main>

