
<header>
  {{> private-navbar}}
</header>
<main class="bg-img">
<h1>DASHBOARD</h1>

<div class="d-flex flex-wrap flex-row ">
<div class="container parent ">
  <div class="blog-container ">

{{#each blogs}}

   <div class="card" style="width: 18rem">
      <img
        class="card-img-top"
        src="{{blog_img}}"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title content-style-1">{{title}}</h5>
        <p class="card-text content-style-1"> {{content}}  </p>
        <div class="text-center">
          <a href="/blog/View/{{blog_uuid}}" class="card-link">View <i class="fas fa-pen"></i></a>
          <a href="/blog/Edit/{{blog_uuid}}" class="card-link">Edit <i class="fas fa-pen"></i></a>
          <a href="#" class="card-link delete-btn" id="{{blog_uuid}}">Delete <i class="fas fa-trash"></i></a>
        </div>
      </div>
    </div>

{{/each}}

  </div>
</div>

{{#each comments}}
<div class="comment-widgets m-b-20 container bg-light">
  <div class="d-flex flex-row comment-row">
    <div class="p-2"></div>
    <div class="comment-text w-100">
      {{!-- <h5>{{user.first_name}} {{user.last_name}}</h5> --}}
      <div class="comment-footer">
        <span class="date">{{dateFormatter createdAt}}</span>
      </div>
      <p class="m-b-5 m-t-10">
        {{comment}}
      </p>
      <div><button type="button" class="btn btn-primary">DELETE</button></div>
    </div>
  </div>
</div>
{{/each}}

</div>

</main>





{{!-- 
    <div class="comment-container">
     
      {{#each comments}}

      <div class="card mb-2">
        <div class=" mb-0">
          <div class="h3 text-center">Blog title</div>
        <div class="mb-3 card-body"> {{comment}}</div>
         <p class="text-center">{{dateFormatter createdAt}}</p>
        </div>
        <div class="text-center">
          <a href="#" class="card-link">Edit <i class="fas fa-pen"></i></a>
          <a href="#" class="card-link">Delete <i class="fas fa-trash"></i></a>
        </div>
      </div>
       
       {{/each}}

      <!-- comment 2 -->
      <div class="card mb-2">
        <div class="card-body">This is some text within a card body.</div>
        <div class="text-center">
          <a href="#" class="card-link">Edit <i class="fas fa-pen"></i></a>
          <a href="#" class="card-link">Delete <i class="fas fa-trash"></i></a>
        </div>
      </div>

</div> --}}