<header>
  {{#if loggedIn}}
  {{> private-navbar}}
  {{else}}
  {{> public-navbar}}
  {{/if}}
</header>


<h1>HOME</h1>

 <div class="container grid">

{{#each data}}

{{#index id}}

   <div class="item project blog-card">
    <div class="content">
      <div class="desc">
        <div class="display-6 mb-1">{{title}}</div>

        <img src="{{blog_img}}" />

        <p>
        {{content}} 
        <a href="/blog/view/{{blog_uuid}}"> view</a>
        </p>
      </div>
      <div class="font-italic text-end h5"><u>{{username}}</u></div>
    </div>
  </div>

{{else}} 

 <div class="item photo blog-card">
    <div class="content">
      <img class="photothumb" src="{{blog_img}}" />

      <div class="display-6 mb-1">{{title}}</div>

      <div class="desc">
        <p>
         {{content}} <a href="/blog/view/{{blog_uuid}}"> view</a>
        </p>
      </div>
      <div class="font-italic text-end h5"><u>Italic text.</u></div>
    </div>
  </div> 

 {{/index}}


{{/each}}

</div> 








<script>
  function resizeGridItem(item) { grid =
  document.getElementsByClassName("grid")[0]; rowHeight = parseInt(
  window.getComputedStyle(grid).getPropertyValue("grid-auto-rows") ); rowGap =
  parseInt( window.getComputedStyle(grid).getPropertyValue("grid-row-gap") );
  rowSpan = Math.ceil(
  (item.querySelector(".content").getBoundingClientRect().height + rowGap) /
  (rowHeight + rowGap) ); item.style.gridRowEnd = "span " + rowSpan; } function
  resizeAllGridItems() { allItems = document.getElementsByClassName("item"); for
  (x = 0; x < allItems.length; x++) { resizeGridItem(allItems[x]); } } function
  resizeInstance(instance) { item = instance.elements[0]; resizeGridItem(item);
  } window.onload = resizeAllGridItems(); window.addEventListener("resize",
  resizeAllGridItems); allItems = document.getElementsByClassName("item"); for
  (x = 0; x < allItems.length; x++) { imagesLoaded(allItems[x], resizeInstance);
  }

</script>

